#### Importing libraries

In [1]:
import numpy as np
import pandas as pd

#### Dataframes

In [2]:
ae_df = pd.read_csv('athlete_events.csv')
reg_df = pd.read_csv('noc_regions.csv')

#### Athlete events dataset overview

In [3]:
ae_df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

#### Region dataset overiew, comtains the data about where the players are from

In [4]:
reg_df.tail()

     NOC    region        notes
225  YEM     Yemen          NaN
226  YMD     Yemen  South Yemen
227  YUG    Serbia   Yugoslavia
228  ZAM    Zambia          NaN
229  ZIM  Zimbabwe          NaN

In [5]:
ae_df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [6]:
reg_df.isnull().sum()

NOC         0
region      3
notes     209
dtype: int64

In [7]:
ae_df.duplicated().sum()

1385

In [8]:
reg_df.duplicated().sum()

0

In [9]:
ae_df.shape

(271116, 15)

#### Filter out the data for summer olympics

In [10]:
ae_df = ae_df[ae_df['Season'] == 'Summer']

In [11]:
ae_df.shape

(222552, 15)

In [12]:
ae_df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

#### To derive medal tally

In [13]:
ae_df = ae_df.merge(reg_df, on = 'NOC', how = 'left')

In [14]:
ae_df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN

In [15]:
ae_df['region'].unique().shape

(206,)

In [16]:
ae_df['region'].unique()

array(['China', 'Denmark', 'Netherlands', 'Finland', 'Norway', 'Romania',
       'Estonia', 'France', 'Morocco', 'Spain', 'Egypt', 'Iran',
       'Bulgaria', 'Italy', 'Chad', 'Azerbaijan', 'Sudan', 'Russia',
       'Argentina', 'Cuba', 'Belarus', 'Greece', 'Cameroon', 'Turkey',
       'Chile', 'Mexico', 'USA', 'Nicaragua', 'Hungary', 'Nigeria',
       'Algeria', 'Kuwait', 'Bahrain', 'Pakistan', 'Iraq', 'Syria',
       'Lebanon', 'Qatar', 'Malaysia', 'Germany', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Maldives',
       'Ethiopia', 'United Arab Emirates', 'Yemen', 'Indonesia',
       'Philippines', nan, 'Uzbekistan', 'Kyrgyzstan', 'Tajikistan',
       'Japan', 'Republic of Congo', 'Switzerland', 'Brazil', 'Monaco',
       'Israel', 'Uruguay', 'Sweden', 'Sri Lanka', 'Armenia',
       'Ivory Coast', 'Kenya', 'Benin', 'UK', 'Ghana', 'Somalia', 'Niger',
       'Mali', 'Afghanistan', 'Poland', 'Costa Rica', 'Panama', 'Georgia',
       'Slovenia', 'Guyana', 'New Zealand', 'Portugal', 'Paraguay',
       'Angola', 'Venezuela', 'Colombia', 'Bangladesh', 'Peru',
       'El Salvador', 'Puerto Rico', 'Uganda', 'Honduras', 'Ecuador',
       'Turkmenistan', 'Mauritius', 'Seychelles', 'Czech Republic',
       'Luxembourg', 'Mauritania', 'Saint Kitts', 'Trinidad',
       'Dominican Republic', 'Saint Vincent', 'Jamaica', 'Liberia',
       'Suriname', 'Nepal', 'Mongolia', 'Austria', 'Palau', 'Lithuania',
       'Togo', 'Namibia', 'Curacao', 'Ukraine', 'Iceland',
       'American Samoa', 'Samoa', 'Rwanda', 'Croatia', 'Dominica',
       'Haiti', 'Malta', 'Cyprus', 'Guinea', 'Belize', 'Thailand',
       'Bermuda', 'Serbia', 'Sierra Leone', 'Papua New Guinea',
       'Individual Olympic Athletes', 'Oman', 'Fiji', 'Vanuatu',
       'Moldova', 'Bahamas', 'Guatemala', 'Latvia',
       'Virgin Islands, British', 'Mozambique', 'Virgin Islands, US',
       'Central African Republic', 'Madagascar', 'Bosnia and Herzegovina',
       'Guam', 'Cayman Islands', 'Slovakia', 'Barbados', 'Guinea-Bissau',
       'Timor-Leste', 'Democratic Republic of the Congo', 'Gabon',
       'San Marino', 'Laos', 'Botswana', 'South Korea', 'Cambodia',
       'North Korea', 'Solomon Islands', 'Senegal', 'Cape Verde',
       'Equatorial Guinea', 'Boliva', 'Antigua', 'Andorra', 'Zimbabwe',
       'Grenada', 'Saint Lucia', 'Micronesia', 'Myanmar', 'Malawi',
       'Zambia', 'Taiwan', 'Sao Tome and Principe', 'Macedonia',
       'Liechtenstein', 'Montenegro', 'Gambia', 'Cook Islands', 'Albania',
       'Swaziland', 'Burkina Faso', 'Burundi', 'Aruba', 'Nauru',
       'Vietnam', 'Bhutan', 'Marshall Islands', 'Kiribati', 'Tonga',
       'Kosovo', 'South Sudan', 'Lesotho'], dtype=object)

###### Here are lots of historical errors, such as disintegration of countries

In [17]:
ae_df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

##### Filtering duplicate values

In [18]:
ae_df.duplicated().sum()

1385

In [19]:
ae_df.drop_duplicates(inplace=True)

In [20]:
ae_df.duplicated().sum()

0

In [21]:
ae_df['Medal'].value_counts()

Gold      11456
Bronze    11409
Silver    11212
Name: Medal, dtype: int64

There are lot of NaN values

In [22]:
pd.get_dummies(ae_df['Medal'])

        Bronze  Gold  Silver
0            0     0       0
1            0     0       0
2            0     0       0
3            0     1       0
4            0     0       0
...        ...   ...     ...
222547       0     0       0
222548       0     0       0
222549       0     0       0
222550       0     0       0
222551       0     0       0

[221167 rows x 3 columns]

Here if there is Gold then other two will be 0 and similar for silver and bronze too. But if there is a NaN value then all the three will be 0

In [23]:
ae_df = pd.concat([ae_df,pd.get_dummies(ae_df['Medal'])], axis = 1)

Concatenate horizontally

In [24]:
ae_df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN,0,0,0
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN,0,0,0
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN,0,0,0

In [25]:
ae_df.groupby('NOC').sum(numeric_only=True)[['Gold','Silver','Bronze']].sort_values('Gold', ascending = False)

     Gold  Silver  Bronze
NOC
USA  2472    1333    1197
URS   832     635     596
GBR   635     729     620
GER   592     538     649
ITA   518     474     454
..    ...     ...     ...
AHO     0       1       0
LBR     0       0       0
LCA     0       0       0
LES     0       0       0
LBA     0       0       0

[230 rows x 3 columns]

Here the medal tally we get is incorrect when I comparfed to the data available on wikipedia. The data we jabe is
organsized on the basis of theletes, so for a team sport each player have won a medal and the extras are akso added
that gave us c0mpletely wrong answer.

##### To resolve this issue

In [26]:
medal_tally = ae_df.drop_duplicates(subset = ['Team', 'region', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

In [27]:
medal_tally = medal_tally.groupby('region').sum(numeric_only=True)[['Gold','Silver','Bronze']].sort_values('Gold', ascending = False)

In [28]:
medal_tally['total'] = medal_tally['Gold'] + medal_tally['Silver'] + medal_tally['Bronze']

In [29]:
medal_tally

               Gold  Silver  Bronze  total
region
USA            1035     802     708   2545
Russia          592     498     487   1577
Germany         444     457     491   1392
UK              278     317     300    895
France          234     256     287    777
...             ...     ...     ...    ...
Lesotho           0       0       0      0
Albania           0       0       0      0
Libya             0       0       0      0
Liechtenstein     0       0       0      0
Liberia           0       0       0      0

[205 rows x 4 columns]

#### To create drop-down for 'years' and 'countries'

In [30]:
year = ae_df['Year'].unique().tolist()

In [31]:
year.sort()

In [32]:
year.insert(0, 'Overall')

In [33]:
year

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [34]:
country = np.unique(ae_df['region'].dropna().values).tolist()

In [35]:
country.sort()

In [36]:
country.insert(0, 'Overall')

In [37]:
country

['Overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [38]:
medal_tally

               Gold  Silver  Bronze  total
region
USA            1035     802     708   2545
Russia          592     498     487   1577
Germany         444     457     491   1392
UK              278     317     300    895
France          234     256     287    777
...             ...     ...     ...    ...
Lesotho           0       0       0      0
Albania           0       0       0      0
Libya             0       0       0      0
Liechtenstein     0       0       0      0
Liberia           0       0       0      0

[205 rows x 4 columns]

#### Defining a function
That will filter on the basis of year and country  dropdown.

In [39]:
def fetch_medal_tally(year, country):
    flag = 0
    medal_df = ae_df.drop_duplicates(subset = ['Team', 'region', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])
    
    if year == 'Overall' and country == 'Overall':
        temp_df = medal_df
    if year == 'Overall' and country != 'Overall':
        flag = 1
        temp_df = medal_df[medal_df['region'] == country]
    if year != 'Overall' and country == 'Overall':
        temp_df = medal_df[medal_df['Year'] == int(year)]
    if year != 'Overall' and country != 'Overall':
        temp_df = medal_df[(medal_df['Year'] == int(year)) & (medal_df['region'] == country)]
        
    if flag == 1:
        x = temp_df.groupby('Year').sum(numeric_only=True)[['Gold','Silver','Bronze']].sort_values('Gold', ascending = False)
    else:
        x = temp_df.groupby('region').sum(numeric_only=True)[['Gold','Silver','Bronze']].sort_values('Gold', ascending = False)

        x = temp_df.groupby('region').sum(numeric_only=True)[['Gold','Silver','Bronze']].sort_values('Gold', ascending = False)
    x['total'] = x['Gold'] + x['Silver'] + x['Bronze']
        
    print(x)

In [40]:
medal_df = ae_df.drop_duplicates(subset = ['Team', 'region', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

In [41]:
fetch_medal_tally(year='Overall',country='India')

      Gold  Silver  Bronze  total
Year
1928     1       0       0      1
1932     1       0       0      1
1936     1       0       0      1
1948     1       0       0      1
1952     1       0       1      2
1956     1       0       0      1
2008     1       0       2      3
1964     1       0       0      1
1980     1       0       0      1
1900     0       2       0      2
1988     0       0       0      0
2012     0       2       4      6
2004     0       1       0      1
2000     0       0       1      1
1996     0       0       1      1
1992     0       0       0      0
1972     0       0       1      1
1984     0       0       0      0
1976     0       0       0      0
1920     0       0       0      0
1968     0       0       1      1
1960     0       1       0      1
1924     0       0       0      0
2016     0       1       1      2

In [42]:
medal_df[(medal_df['Year'] == int(2012)) & (medal_df['region'] == 'India')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
7064,4523,Seema Antil,F,28.0,182.0,92.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Discus Throw,NaN,India,NaN,0,0,0
11742,7488,Rahul Banerjee,M,25.0,179.0,80.0,India,IND,2012 Summer,2012,Summer,London,Archery,Archery Men's Individual,NaN,India,NaN,0,0,0
11743,7488,Rahul Banerjee,M,25.0,179.0,80.0,India,IND,2012 Summer,2012,Summer,London,Archery,Archery Men's Team,NaN,India,NaN,0,0,0
17768,11185,Jai Bhagwan,M,27.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Lightweight,NaN,India,NaN,0,0,0
17832,11219,Mahesh Shrinivas Bhupathi,M,38.0,185.0,88.0,India-1,IND,2012 Summer,2012,Summer,London,Tennis,Tennis Men's Doubles,NaN,India,NaN,0,0,0
18445,11601,Abhinav Bindra,M,29.0,173.0,70.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Air Rifle, 10 metres",NaN,India,NaN,0,0,0
31878,19583,Rushmi Chakravarthi,F,34.0,170.0,65.0,India,IND,2012 Summer,2012,Summer,London,Tennis,Tennis Women's Doubles,NaN,India,NaN,0,0,0
32551,19995,Garima Chaudhary,F,22.0,NaN,63.0,India,IND,2012 Summer,2012,Summer,London,Judo,Judo Women's Half-Middleweight,NaN,India,NaN,0,0,0
33469,20562,Bharat Kumar Chetri,M,30.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Hockey,Hockey Men's Hockey,NaN,India,NaN,0,0,0
34434,21197,Shagun Chowdhary,F,29.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Shooting,Shooting Women's Trap,NaN,India,NaN,0,0,0
41450,25424,Ankita Das,F,19.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Women's Singles,NaN,India,NaN,0,0,0
45765,27944,Laishram Bombayla Devi,F,27.0,164.0,60.0,India,IND,2012 Summer,2012,Summer,London,Archery,Archery Women's Individual,NaN,India,NaN,0,0,0
45766,27944,Laishram Bombayla Devi,F,27.0,164.0,60.0,India,IND,2012 Summer,2012,Summer,London,Archery,Archery Women's Team,NaN,India,NaN,0,0,0
45814,27975,Somdev Kishore Devvarman,M,27.0,180.0,73.0,India,IND,2012 Summer,2012,Summer,London,Tennis,Tennis Men's Singles,NaN,India,NaN,0,0,0
46800,28519,Valiyaveetil Diju,M,31.0,188.0,NaN,India,IND,2012 Summer,2012,Summer,London,Badminton,Badminton Mixed Doubles,NaN,India,NaN,0,0,0
50700,30913,Yogeshwar Dutt,M,29.0,168.0,65.0,India,IND,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Men's Lightweight, Freestyle",Bronze,India,NaN,1,0,0
65768,40050,Soumyajit Ghosh,M,19.0,168.0,69.0,India,IND,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Men's Singles,NaN,India,NaN,0,0,0
69169,42127,Vikas Shive Gowda,M,29.0,190.0,110.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Discus Throw,NaN,India,NaN,0,0,0
72491,44207,Jwala Gutta,F,28.0,178.0,85.0,India,IND,2012 Summer,2012,Summer,London,Badminton,Badminton Women's Doubles,NaN,India,NaN,0,0,0
90662,55544,Mayookha Mathalikunnel Johny,F,24.0,174.0,58.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Triple Jump,NaN,India,NaN,0,0,0
93944,57669,Joydeep Karmakar,M,32.0,177.0,73.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN,India,NaN,0,0,0
94241,57862,Parupalli Kashyap,M,25.0,173.0,NaN,India,IND,2012 Summer,2012,Summer,London,Badminton,Badminton Men's Singles,NaN,India,NaN,0,0,0
94529,58040,Ravi Kumar Katulu,M,24.0,NaN,69.0,India,IND,2012 Summer,2012,Summer,London,Weightlifting,Weightlifting Men's Lightweight,NaN,India,NaN,0,0,0
101447,62303,Mangte Chungneijang Mary Kom,F,29.0,158.0,51.0,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Bronze,India,NaN,1,0,0
105747,64882,Amit Kumar Dahiya,M,18.0,161.0,56.5,India,IND,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Men's Featherweight, Freestyle",NaN,India,NaN,0,0,0
105761,64894,Manoj Kumar Kaltagediya,M,25.0,172.0,64.0,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Welterweight,NaN,India,NaN,0,0,0
105771,64902,Sandeep Kumar,M,23.0,183.0,72.0,India,IND,2012 Summer,2012,Summer,London,Rowing,Rowing Men's Lightweight Double Sculls,NaN,India,NaN,0,0,0
105781,64909,Sushil Kumar Solanki,M,29.0,166.0,66.0,India,IND,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Men's Welterweight, Freestyle",Silver,India,NaN,0,0,1
105782,64910,Vijay Kumar,M,26.0,170.0,70.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Air Pistol, 10 metres",NaN,India,NaN,0,0,0
105783,64910,Vijay Kumar,M,26.0,170.0,70.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",Silver,India,NaN,0,0,1
105802,64920,Sahana Kumari,F,30.0,176.0,59.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Women's High Jump,NaN,India,NaN,0,0,0
117988,72165,Tintu Luka,F,23.0,163.0,50.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
120281,73537,Renjith Maheshwary,M,26.0,184.0,79.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Triple Jump,NaN,India,NaN,0,0,0
131642,80297,Sania Mirza,F,25.0,173.0,57.0,India,IND,2012 Summer,2012,Summer,London,Tennis,Tennis Mixed Doubles,NaN,India,NaN,0,0,0
138564,84516,Gagan Narang,M,29.0,180.0,115.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Air Rifle, 10 metres",Bronze,India,NaN,1,0,0
138565,84516,Gagan Narang,M,29.0,180.0,115.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Small-Bore Rifle, Three Positio...",NaN,India,NaN,0,0,0
139531,85112,Saina Nehwal,F,22.0,167.0,65.0,India,IND,2012 Summer,2012,Summer,London,Badminton,Badminton Women's Singles,Bronze,India,NaN,1,0,0
140462,85665,Soniya Chanu Ngangbam,F,32.0,149.0,48.0,India,IND,2012 Summer,2012,Summer,London,Weightlifting,Weightlifting Women's Flyweight,NaN,India,NaN,0,0,0
148285,90518,Leander Adrian Paes,M,39.0,178.0,77.0,India-2,IND,2012 Summer,2012,Summer,London,Tennis,Tennis Men's Doubles,NaN,India,NaN,0,0,0
154905,94515,Geeta Phogat,F,23.0,153.0,62.0,India,IND,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Women's Lightweight, Freestyle",NaN,India,NaN,0,0,0
161990,98794,Basant Bahadur Rana,M,28.0,172.0,76.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 50 kilometres Walk,NaN,India,NaN,0,0,0
172853,105465,Sumit Sangwan,M,19.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Heavyweight,NaN,India,NaN,0,0,0
173441,105837,Rahi Sarnobat (-Jeevan),F,21.0,158.0,66.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Women's Sporting Pistol, 25 metres",NaN,India,NaN,0,0,0
180210,110191,Heena Sidhu,F,22.0,158.0,51.0,India,IND,2012 Summer,2012,Summer,London,Shooting,"Shooting Women's Air Pistol, 10 metres",NaN,India,NaN,0,0,0
181540,111018,Baljinder Singh,M,25.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 20 kilometres Walk,NaN,India,NaN,0,0,0
181732,111142,Sawarn Singh,M,22.0,188.0,80.0,India,IND,2012 Summer,2012,Summer,London,Rowing,Rowing Men's Single Sculls,NaN,India,NaN,0,0,0
181746,111151,Sudha Singh,F,26.0,158.0,45.0,India,IND,2012 Summer,2012,Summer,London,Athletics,"Athletics Women's 3,000 metres Steeplechase",NaN,India,NaN,0,0,0
181770,111161,Vijender Kumar Singh,M,26.0,182.0,75.0,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Middleweight,NaN,India,NaN,0,0,0
181848,111210,Om Prakash Singh Karhana,M,25.0,196.0,125.0,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Shot Put,NaN,India,NaN,0,0,0
181859,111219,Devendro Singh Laishram,M,20.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Flyweight,NaN,India,NaN,0,0,0
181897,111245,Manavjit Singh Sandhu,M,35.0,192.0,90.0,India,IND,2012 Summer,2012,Summer,London,Shooting,Shooting Men's Trap,NaN,India,NaN,0,0,0
181928,111267,Ram Singh Yadav,M,31.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Marathon,NaN,India,NaN,0,0,0
184316,112724,Ronjan Sodhi,M,32.0,175.0,87.0,India,IND,2012 Summer,2012,Summer,London,Shooting,Shooting Men's Double Trap,NaN,India,NaN,0,0,0
195567,119515,Shiva Thapa,M,18.0,169.0,56.0,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Bantamweight,NaN,India,NaN,0,0,0
202078,123246,Adaveeshaiah Puttaveeraswamy Gagan Ullalmath,M,20.0,NaN,NaN,India,IND,2012 Summer,2012,Summer,London,Swimming,"Swimming Men's 1,500 metres Freestyle",NaN,India,NaN,0,0,0
216939,132141,Narsingh Pancham Yadav,M,22.0,167.0,74.0,India,IND,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Men's Middleweight, Freestyle",NaN,India,NaN,0,0,0
216941,132143,Vikas Krishan Yadav,M,20.0,177.0,69.0,India,IND,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Welterweight,NaN,India,NaN,0,0,0

### Overall Analysis
- Number of editions
- Number of cities
- Number of events/sports
- Number of participants/athletes
- Participating nations

In [44]:
ae_df['Year'].unique().shape[0] - 1

28